.container {
    max-width: 500px;
    margin: 0;
    padding: 30px;
    text-align: left;
    margin-left: 50px;
  }
  
  .heading {
    font-weight: bold;
    font-family: 'Littera Text', serif;
    font-size: 60px;
    margin-top: 9vw;
    margin-bottom: 6vw;
  }
  
  .form {
    display: block;
  }
  
  .row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .field {
    margin-bottom: 10px;
    flex-grow: 1;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 0.1px solid grey;
    font-size: 16px;
  }

  .inputname {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 0.1px solid grey;
    font-size: 16px;
  }
  
  .textarea {
    height: 100px;
    resize: none;
  }
  
  .button {
    width: 40%;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
    margin: 0 auto;
  }
  
  .field {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .row,
    .input,
    .textarea,
    .button {
      width: 100%;
    }
  }
  